.wrap {
    border-radius: 10px;
    padding: 2em;
    margin: 0 auto 1em auto;
    text-align: center;
    background: #eee;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
}

.date {
    display: block;
}