.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.title {} 

.text {
    margin-top: 0;
    margin-bottom: 0;
}

.inner {}

.link {}

.btn {}